
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class="container">
    <h1>Welcome to Book Store Application</h1>
    <p>This is the home page.</p>
    <img src="~/img/69633866_10219981458757613_5836632178967969792_o.jpg" />
</body>
</html>
